<h1>Hello, {{username}}! Your Game Id is: {{gameboard.id}}</h1>
<div class="container">
  <div class="row" *ngFor="let item of numbers">
    <div class="col-sm" >
      Attempt left:
    </div>
    <div class="col-sm" *ngFor="let item of selectedColorLength">
      <app-attempt [availableColors]="availableColors" (selectedAttemptColorChanged)="onAttemptChangedHandler($event)"></app-attempt>
    </div>
    <div class="col-sm">
      <button (click)="onSubmitAttemptClick()" >Submit Attempt</button>
    </div>
  </div>
</div>

