<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mastermind Game</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="btn btn-warning" aria-current="page" (click)="onClickStartNewGame()">Start new Game</button>
          <button class="btn btn-primary mr-3" [disabled]="logs.length <= 0" (click)="openDialog()">Show Logs</button>

        </li>
      </ul>
     
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search for Game" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">
<div class="root">
  <div class="startNewGame" [hidden]="startNewGame == false">
    <h2 style="display: flex; justify-content: center;">Start new Game</h2>
    <label for="basic-url">Username</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="username">
    </div>
    <label for="basic-url">Maximum number of tries (6 - 12)</label>
    <div class="input-group mb-3">
      <input type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="attempts">
    </div>
    <hr>
    <button class="btn btn-primary" (click)="onClickCreateGame()"
      [disabled]="username == '' || attempts < 6 || attempts > 12">
      Start Game
    </button>
  </div>
  <div class="game" [hidden]="game == false">
    <app-game [availableColors]="availableColors" [username]="username" [attempts]="attempts" [gameboard]="gameboard">
    </app-game>
  </div>
</div>
</div>

<router-outlet></router-outlet>