<body>
  <h2>Budget (in EUR)</h2>
  <div class="input-group mb-3">
    <input
      [(ngModel)]="budget"
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <hr />
  <div class="parent">
    <div class="productsTable">
      <h3>Available Products</h3>

      <!--Table for the available products-->
      <table class="table" style="float: left">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <th scope="col">{{ product.name }}</th>
            <td scope="col">{{ product.price | currency: "€ ":true }}</td>
          </tr>
          <tr *ngIf="isAddFormVisible">
            <th>
              <input
                [(ngModel)]="productName"
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
              />
            </th>
            <td>
              <input
                [(ngModel)]="productPrice"
                type="number"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
              />
            </td>
          </tr>
          <tr>
            <th>
              <button
                *ngIf="isAddButtonVisible"
                class="btn btn-primary"
                (click)="add()"
              >
                Add Product
              </button>
            </th>
            <td></td>
          </tr>
          <tr *ngIf="isAddFormVisible">
            <th>
              <button
                class="btn btn-success"
                (click)="addProduct()"
                [disabled]="productName == '' || productPrice <= 0"
              >
                Add
              </button>
            </th>
            <td>
              <button
                class="btn btn-danger"
                (click)="isAddFormVisible = false; isAddButtonVisible = true"
              >
                Cancel
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="cartTable">
      <h3>Shopping List</h3>

      <!--Table for the shopping cart-->
      <table class="table" style="float: right">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Amount</th>
            <th scope="col">Total Price</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart">
            <td>{{ item.cartProduct.name }}</td>
            <td>{{ item.amount }}</td>
            <td >
              {{ item.total | currency: "€ ":true }}
            </td>
            <td>
              <button class="btn btn-danger" [value]="item.id" (click)="deleteCartItem(item.id)">
                Delete
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td style="font-weight: bold">Total Price:</td>

            <td style="font-weight: bold" [ngStyle]="{ color: budget >= total ? 'green' : 'red' }">
              {{ total | currency: "€ ":true }}
            </td>

            <td></td>
          </tr>
          <tr>
            <th scope="row">
              <select
                class="form-select"
                aria-label="Default select example"
                [(ngModel)]="selectedProduct"
              >
                <option *ngFor="let product of products" [value]="product.id">
                  {{ product.name }}
                </option>
              </select>
            </th>
            <td style="font-weight: bold">
              <input
                [(ngModel)]="amount"
                type="number"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
              />
            </td>
            <td>
              <button
                class="btn btn-success"
                [disabled]="amount <= 0"
                (click)="addToCart()"
              >
                Add
              </button>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
