#page {
    width: 1200px;
    margin: 0px auto -1px auto;
    padding: 15px;
}
.InsideContent{
    display:inline-block;
}

#divTable {
    width: 800px;
}
#divMessage {
    width: 350px;
}
.selects{
    width: 250px;
}