<h1 class="mt-3 fw-bolder" style="text-align: center">ATX Stock Exchange</h1>
<hr />
<div class="d-flex" style="align-items: center; justify-content: center">
  <div class="input-group w-auto ms-3" style="width: 25%" [hidden]="loggedIn">
    <input
      [(ngModel)]="userName"
      type="text"
      class="form-control"
      placeholder="Username"
      aria-label="Username"
      aria-describedby="button-addon2"
    />
    <button
      (click)="login()"
      class="btn btn-primary"
      type="button"
      id="button-addon2"
    >
      Connect
    </button>
  </div>
  <div>
    <label class="ms-3 fs-6 fw-bolder text-danger" [hidden]="loggedIn">{{
      errorMsg
    }}</label>
  </div>
</div>
<div class="d-flex ms-3" style="align-items: center; justify-content: center">
  <div [hidden]="!loggedIn">
    <button class="btn btn-warning" (click)="disconnect()">Disconnect</button>
  </div>
  <div [hidden]="!loggedIn">
    <label class="ms-3 fs-6 fw-bolder text-success"
      >Connected Users: {{ amountOfConnectedUsers }}</label
    >
  </div>
</div>
<hr />
<div [hidden]="!loggedIn">
  <div class="d-flex" style="text-align: center; justify-content: center; align-items: center;">
     <h2>Hi, {{currentUser.name}} your balance is {{currentUser.cash | currency:'EUR':'€'}}</h2>
  </div>
</div>
<div [hidden]="loggedIn == false">
  <hr />
  <div class="d-flex">
    <div class="input-group w-auto ms-3" style="width: 25%">
      <div>
        <select [(ngModel)]="selectedShare" class="m-1 form-select">
          <option *ngFor="let share of shares" [ngValue]="share">
            {{ share.name }}
          </option>
        </select>
        <input
          class="m-1 form-control"
          [(ngModel)]="shareAmount"
          type="number"
        />
        <button
          class="m-1 btn btn-success"
          (click)="buyShare()"
          [disabled]="shareAmount <= 0 || selectedShare.name == undefined"
        >
          Buy
        </button>
        <button
          class="m-1 btn btn-danger"
          (click)="sellShare()"
          [disabled]="shareAmount <= 0 || selectedShare.name == undefined"
        >
          Sell
        </button>
      </div>
    </div>
  </div>
</div>

<div [hidden]="!loggedIn || shareMarket.length < 0">
<hr>
<div  class="d-flex">
<table>
  <thead>
    <tr>
      <th>Share</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let share of shareMarket">
      <td>{{ share.name }}</td>
      <td>{{ share.val | currency:'EUR':'€' }}</td>
    </tr>
  </tbody>
</table>
  <canvas class="ms-5" baseChart [data]="lineChartData" type="line" [options]="lineChartOptions">
  </canvas>
</div>
</div>

<!-- ############################# Logs Section ############################# -->
<div [hidden]="!loggedIn">
  <hr>
  <p *ngFor="let log of logs">{{ log }}</p>
  
</div>



<router-outlet></router-outlet>
