.content{
    display: table;
    margin: 15px auto;
    border: 2px solid black;
    padding: 20px;
}
.errorMsg{
   text-align: center;
}
.btnDiv{
    margin: 10px;
    text-align: center;
}
.result{
    display: table;
    margin: 15px auto;
    font-family: "Helvetica Neue LT bold",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 32px;
    font-style: normal;
}
h1{
    text-align: center;
}
.tblRowResult{
    border: 2px solid black;
}