<div class="container">
    <div class="row">
      <div class="col-sm">
         <h1 style="text-align: center;">District Grieskirchen:</h1>
        <app-pie-chart [labels]="districtCasesLabels" [data]="[disctrictData.cases, disctrictData.deathCases]"></app-pie-chart>
    </div>
     
    <div class="col-sm">
        <h1 style="text-align: center;">Intensive Care now:</h1>
        <app-pie-chart [labels]="intensiveCarelabels" [data]="[intensiveCare.intensiveCareBedCov, intensiveCare.intensiveCareBedNonCov, intensiveCare.intensiveCareBedFree]"></app-pie-chart>
    </div>
    </div>
    <div class="row mt-5">
        <h1 style="text-align: center;">Intensive Care all time:</h1>
        <app-line-chart [labels]="intensiveCareLabelSource" [data]="dataSource1"></app-line-chart>
    </div>
  </div>