<div class="container">
    <div class="row">
      <div class="col-sm">
         <h1 style="text-align: center;">Bezirk Grieskirchen:</h1>
        <app-pie-chart [labels]="districtCasesLabels" [data]="distirctCasesData"></app-pie-chart>
    </div>
     
    <div class="col-sm">
        <h1 style="text-align: center;">Intensivstation Belegung:</h1>
        <app-pie-chart [labels]="intensiveCarelabels" [data]="intensiveCareData"></app-pie-chart>
    </div>
    </div>
    <div class="row mt-5">
        <h1 style="text-align: center;">Krankenhaus Belegung:</h1>
        <app-radar-chart [radarChartLabels]="hospitalizationsChartLables" [radarChartData]="hospitalizationsChartData"></app-radar-chart>
    </div>
  </div>