<div class="container">
    <div class="row">
      <div class="col-sm">
         <h1 style="text-align: center;">Bezirk Grieskirchen:</h1>
        <app-pie-chart [labels]="districtCasesLabels" [data]="[disctrictData.cases, disctrictData.population, disctrictData.deathCases]"></app-pie-chart>
    </div>
     
    <div class="col-sm">
        <h1 style="text-align: center;">Intensivstation Belegung:</h1>
        <app-pie-chart [labels]="intensiveCarelabels" [data]="[intensiveCare.intensiveCareBedCov, intensiveCare.intensiveCareBedNonCov, intensiveCare.intensiveCareBedFree]"></app-pie-chart>
    </div>
    </div>
    <div class="row mt-5">
        <h1 style="text-align: center;">Krankenhaus Belegung:</h1>
        <app-radar-chart [radarChartLabels]="hospitalizationsChartLables" [data]="dataSource1"></app-radar-chart>
    </div>
  </div>