.example-spacer {
    flex: 1 1 auto;
  }
  .centerButton{
    position: fixed;
    left: 50%;
    margin-top: 5px;
  }
  .card{
    width: 24.4%;
    margin: 0.3%;
    background-color: white;
  display: inline-block;
}
.cardTitleBox{
    min-height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}

#cardsDiv{
    display: flex;
    flex-wrap: wrap; /* Optional. only if you want the items to wrap */
    justify-content: center; /* For horizontal alignment */
    align-items: center; /* For vertical alignment */
    margin-top: 1%;
  
}
.btnCards{
  text-align: center;
}
.cardDesign{
  margin: 10px;
  width: 300px;
}
.centerButton{
  text-align: center;
}
.personInputDesign{
  margin-top: 50px;
  width: 24.4%;
  background-color: white;
display: inline-block;
}
.container1{
 text-align: center;
}
.addPersonButton{
  margin: 10px;

}
