<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1 style="text-align: center;">Covid-19 Case Male/Female:</h1>
      <app-pie-chart [labels]="['Female', 'Male']" [colors]="colors" [data]="[genderCases.maleCases, genderCases.femaleCases]"></app-pie-chart>
    </div>
    <div class="col-sm">
      <h1 style="text-align: center;">Covid-19 Deaths Austria:</h1>
      <app-line-chart [labels]="deathLabelSource" [data]="dataSource2"></app-line-chart>
    </div>
  </div>
  <div class="row mt-5">
    <h1 style="text-align: center;">Covid-19 Cases Austria:</h1>
    <app-line-chart [labels]="casesLabelSource" [data]="dataSource1"></app-line-chart>
  </div>
</div>