/* You can add global styles to this file, and also import other style files */
$cBlue: #90D2D8;
$cYellow: #FFECB8;
$cRed: #F6A6B2;
html { 
    height: 100%;   
    background: linear-gradient(90deg, $cBlue 0%, $cYellow 50%, $cRed 100%);

}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1{
 text-align: center;


}